<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
    <p>Usernames: <%= users%></p>
    <form action="/">
        <label for="user">search user:</label>
        <input type="text" name="search" id="user">
        <button type="submit">Search</button>
    </form>
</body>
</html>